h1, h2, h3, h4 {
  font-family: helvetica;
}

* {
  color: lightgrey;
  background-color: #4A525A;
}

.proj_desc * {
  background-color: #0000FF;
}

#unique_new_york {
  border: 5px dashed #FF0000;
}
