* {
  color: lightgrey;
  background-color: #4A525A;
}

#intro h1 {
  text-align: center;
}

#photo {
  background: url('profile_pic.png');
  height: 200px;
  width: 200px;
  border-color: lightgrey;
  border-style: outset;
  border-radius: 12.5%;
  background-size: 200px;
  margin: 20px;
  }
  /* my thanks to users Benajmin and arielnmz at StackOverflow! - http://stackoverflow.com/a/25267892 & http://stackoverflow.com/a/25267928 */
