* {
  font-family: Georgia, serif;
  color: lightgrey;
  background-color: #4A525A;
}

h1, h3 {
  text-align: center;
  font-family: Verdana, sans-serif;
}

h3:not(h3.quiz) {
  border-style: ridge;
  border-width: 3px;
  border-color: lightgrey;
}

ul.list1{
    margin-left: 30px;
    margin-right: 30px;
}

ol.list1{
    margin-left: 30px;
    margin-right: 30px;
}

#photo {
  background: url('profile_pic.png');
  height: 200px;
  width: 200px;
  border-color: lightgrey;
  border-style: outset;
  border-radius: 12.5%;
  background-size: 200px;
  margin: 20px;
  }
  /* my thanks to users Benjamin and arielnmz at StackOverflow! - http://stackoverflow.com/a/25267892 & http://stackoverflow.com/a/25267928 */

#ed_summary {
  margin-left: 246px;
  margin-right: 5%;
}

#ed_summary ul li {
  margin-left: -10px;
}

#work_summary {
  margin-top: 44px;
  margin-left: 5%;
  margin-right: 5%;
}

#interests {
  margin-top: 44px;
  margin-left: 5%;
  margin-right: 5%;
}

#i_like_stars {
  font-style: italic;
  font-size: 0.6em;
  vertical-align: sub;
}

#quiz {
  margin-top: 44px;
  margin-left: 5%;
  margin-right: 5%;
}

#quiz h3{
  background-color: lightgrey;
  color: #4A525A;
  width: 250px;
  margin: 0 auto;
  padding: 5px 0px;
  border-width: thick;
  border-style: outset;
  border-color: #53868B;
}
